// FONT
$default-font-size: 1.6rem;
$font-size-sm: 1.2rem;

// COLORS
$primary-color: #ff613b;
$secondary-color: #32125b;

$color-white: #fff;
$color-black: #000;
$color-very-dark-grey: #171717;
$color-grey-light: #fafafa;