.about-us {
  &__header {
    margin: 4rem 0 0 3rem;
    font-size: 16px;

    @include respond(phone-land) {
      width: 100%;
      max-width: 88.21376281112738%;
      margin: 4rem auto 0 auto;
    }
  }

  .breadcrumbs {
    margin: .7rem 0 0 3rem;

    @include respond(phone-land) {
      width: 100%;
      max-width: 88.21376281112738%;
      margin: .7rem auto 0 auto;
    }
  }

  &__img {
    background-image: url("../assets/img/Rectangle_294.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1;
    height: 100%;
    max-height: 35rem;
    width: 49.1708126036%;
    border-radius: 1rem;

    @include respond(phone-land) {
      position: sticky;
      width: 100%;
      max-width: 88.21376281112738%;
      margin: 5.8rem auto 6.4rem auto;
      height: 30rem;
    }
  }

  &__caption {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    padding: 2rem 2rem 0 0;
    margin: 3rem 0 4rem 10rem;
    max-width: 67%;
    border-radius: 1rem;

    @include respond(phone-land) {
      max-width: 88.21376281112738%;
      margin: 0 auto 6rem auto;
      padding: 0;
      border-radius: 0;
    }
  }
}