.footer {
  &__wrapper {
    width: 88.140556369%;
    margin: 0 auto;

    @include respond(phone) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14rem;
    border-bottom: 1px solid #f2f4f7;

    @include respond(phone) {
      justify-content: center;
    }
  }

  &__logo-box {
    img {
      height: 6rem;
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__nav {
    flex: 0 0 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 5rem;

    @include respond(phone) {
      display: none;
    }
  }

  &__links {
    font-size: $font-size-md;
    color: $color-black;
    text-decoration: none;
    line-height: 1.8;
    transition: all .1s ease-out;
    white-space: nowrap; // prevent word wrap

    &:not(:last-child) {
      margin-right: 2.4rem;
    }

    &:hover {
      color: $primary-color;
    }
  }

  &__socials {
    flex: 0 0 7.960199005%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-link {
      display: inline-block;

      svg {
        width: 1.8rem;
        height: 1.8rem;

        @include respond(phone) {
          width: 3.6rem;
          height: 3.6rem;
        }

        &:hover path {
          fill: $primary-color;
        }
      }

      &:not(:last-child) {
        margin-right: 1.7rem;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.7rem;
    border-bottom: 1px solid #f2f4f7;

    span {
      color: $primary-color;
    }

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 18rem;

      p {
        font-size: 2.4rem;
      }

      p:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}