.menu {
  display: none;

  @include respond(phone-land) {
    display: block;
  }

  width: 100%;
  max-width: 768px;
  height: 20rem; // 2x size

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 3rem;
    width: calc(100% - 6rem);
    height: 14rem; // 2x size
    margin: 0 3rem; // 2x size
    background-color: $color-white;
    border-radius: 5px;
  }

  &__category {
    margin-left: 3rem; // 2x size
  }

  &__logo-box {
    flex: 0 0 25.7372654155%;
    padding: 0 3rem; // 2x size
    border-right: 1px solid #f2f4f7;

    img {
      height: 8rem; // 2x size
    }
  }

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user {
    margin-right: 3rem; // 2x size

    a {
      svg path {
        fill: $color-light-grey;
      }
    }
  }
}