.products {
  &__header {
    padding: 3.9rem 0 0 3rem;
  }

  .breadcrumbs {
    margin: .7rem 0 3.4rem 3rem;
  }

  &__layout {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: .5rem;

    &-unit {
      margin-bottom: 3.2rem;
    }
  }
}