.products {
  &__header {
    padding: 3.9rem 0 0 3rem;

    @include respond(phone-land) {
      padding: 0;
    }
  }

  .breadcrumbs {
    margin: 7px 0 3.4rem 3rem;

    @include respond(phone-land) {
      margin-left: 0;
      margin-bottom: 30px;
    }
  }

  &__layout {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    &-unit:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}