.terms-conditions {
  &__header {
    margin: 4rem 0 0 3rem;

    @include respond(phone-land) {
      width: 100%;
      max-width: 88.21376281112738%;
      margin: 4rem auto 0 auto;
    }
  }

  .breadcrumbs {
    margin: .7rem 0 0 3rem;

    @include respond(phone-land) {
      width: 100%;
      max-width: 88.21376281112738%;
      margin: .7rem auto 0 auto;
    }
  }

  &__caption {
    max-width: 82.489626556%;
    margin: 5rem auto 0 auto;
    padding-bottom: 10rem;

    @include respond(phone-land) {
      max-width: 100%;
      max-width: 88.21376281112738%;
    }
  }
}