.top-products {
  padding: 9rem 8rem 4rem 8rem;
  background-color: #fafafa;
  background-color: lime;

  &__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 3.9rem 3rem 0 3rem;
    border-radius: 1rem;
    overflow: hidden;
  }
}