.top-products {
  max-width: 88.21376281112738%;
  position: relative;
  overflow: hidden;
  margin: 9rem auto 0;
  background-color: $color-white;
  border-radius: 10px;

  @include respond(phone-land) {
    max-width: 92%;
  }

  &__header {
    margin: 3.2rem 0 0 3rem;
    font-size: 16px;
  }

  &__link {
    margin: 1.2rem 0 3.9rem 0;

    a {
      text-decoration: none;
      color: $primary-color;
    }
  }

  &__swiper {
    background-color: $color-white;
    margin-right: 3rem;
    padding: 20px 0 5rem 3.1rem;

    @include respond(phone-land) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }


  &__slide {
    width: auto;
  }

  &__slider-arrows {
    position: absolute;
    top: 5.6rem;
    right: 3.6rem;
    width: 87px;
    height: 2.2rem;
    display: flex;
    justify-content: space-between;
  }

  &__button-next,
  &__button-prev {
    width: 18px;
    height: 18px;
    cursor: pointer;

    &::after {
      content: '';
    }
  }
}