.top-products {
  max-width: 88.140556369%;
  margin: 9rem auto 0;
  background-color: #fafafa;
  background-color: lime;

  &__wrapper {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
  }
}