.breadcrumbs {
  font-family: "Helvetica Neue LTGEOW 82-75 Bd";

  &__item {
    display: inline-block;

    &:not(:last-of-type)::after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Ctitle%3Echeveron-right%3C/title%3E%3Cpath fill='%23d0d0d0' d='M12.95 10.707l0.707-0.707-5.657-5.657-1.414 1.414 4.242 4.243-4.242 4.243 1.414 1.414 4.95-4.95z'%3E%3C/path%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      width: 6px;
      height: 8px;
      margin: 0 1rem 0 2.9rem;
    }
  }


  &__link {
    font-size: $font-size-md;
    color: $color-light-grey;

    &--active {
      color: $primary-color;
      cursor: text;
    }

    @include respond(phone-land) {
      font-size: 14px;
    }

    @include respond(phone-port) {
      font-size: 12px;
    }
  }
}