.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 19.6rem;
  height: 5rem;
  border-radius: 1rem;
  font-size: $font-size-sm;
  background-color: $primary-color;
  color: $color-white;

  &__icon {
    margin-left: 2rem;
    width: 2.2rem;
    height: 2.2rem;
  }

  &__caption {
    margin-right: 2rem;
    line-height: 1.25;
  }
}