.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: #{"max(19.6rem, 165px)"};
  height: #{"max(5rem, 42px)"};
  border-radius: 10px;
  background-color: $primary-color;
  color: $color-white;

  &__icon {
    margin-left: 20px;
    width: 22px;
    height: 22px;
  }

  &__caption {
    margin-right: 34px;
    font-size: 12px;
    line-height: 1.25;
  }
}