.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 19.6rem;
  height: 5rem;
  border-radius: 13px;
  background-color: $primary-color;
  text-decoration: none;

  &__icon {
    margin-left: 2rem;
  }

  &__caption {
    margin-right: 2rem;
    font-size: $font-size-sm;
    line-height: 4;
    color: $color-white;
  }

}