.card {
  width: 21.4rem;
  transition: 200ms;
  border: 1px solid transparent;
  background-color: $color-white;

  &:hover {
    border-radius: 1rem;
    border: 1px solid #E2E7ED;
  }

  // card image
  &__image {
    position: relative;
    height: 21.6rem;

    img {
      @include resImgNM
    }
  }

  // card details
  &__details {
    margin: 1.6rem 1rem 3.1rem 1rem;
  }

  &__title {
    font-family: "Helvetica Neue LTGEOW 82-55 Rm";
    font-size: $font-size-big;
    color: $color-very-dark-grey;
    line-height: 2.556;
    margin-bottom: 1.5rem;
  }

  &__price {
    display: flex;

    &-real {
      margin-right: 1.4rem;
      font-family: "Helvetica Neue LTGEOW 82-75 Bd";
      font-size: $font-size-big;
      color: $primary-color;
    }

    &-sale {
      margin-top: .2rem;
      font-family: "Helvetica Neue LTGEOW 82-55 Rm";
      font-size: $font-size-md;
      color: $color-black;
      text-decoration: line-through;
    }
  }

  // card button modifier
  &__btn--1 {
    margin: 0 auto;
  }
}