.card {
  // width: 21.4rem;
  width: #{"max(21.4rem, 165px)"};
  transition: all .3s ease-in-out;
  border: 1px solid transparent;
  background-color: $color-white;
  position: relative;
  z-index: 1;
  font-size: 16px;

  &:hover {
    transform: scale(1.05);
  }

  &:hover {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scale(1.05);
      z-index: -1;
      border-radius: 1rem;
      border: 1px solid #E2E7ED;
    }
  }

  // card image
  &__image {
    position: relative;
    height: 21.6rem;
    height: #{"max(21.5rem, 165px)"};

    img {
      @include resImgNM
    }
  }

  // card details
  &__details {
    margin: 1.6rem 1rem 3.1rem 1rem;
  }

  &__title {
    font-family: "Helvetica Neue LTGEOW 82-55 Rm";
    font-size: #{"min(max(14px, calc(0.875em + ((1vw - 3.75px) * 0.4036))), 18px)"};
    color: $color-very-dark-grey;
    line-height: 2.556;
    margin-bottom: 1.5rem;
  }

  &__price {
    display: flex;

    &-real {
      margin-right: 1.4rem;
      font-family: "Helvetica Neue LTGEOW 82-75 Bd";
      font-size: 18px;
      line-height: 1.3333333;
      color: $primary-color;
    }

    &-sale {
      margin-top: .2rem;
      font-family: "Helvetica Neue LTGEOW 82-55 Rm";
      font-size: 14px;
      color: $color-black;
      text-decoration: line-through;
    }
  }

  // card button modifier
  &__btn--1 {
    margin: 0 auto;
  }
}