.top-products {
  &__header {
    position: absolute;
    top: 3.9rem;
    left: 3rem;
    z-index: 2; //overlay swiper
  }

  &__title {
    margin-bottom: .7rem;
    font-size: 2.4rem;
    line-height: 2;
    color: $color-black;
  }

  &__link {
    a {
      text-decoration: none;
      font-size: $font-size-md;
      color: $primary-color;
    }
  }

  &__swiper {
    width: 100%;
    background-color: $color-white;
    margin: 0;
    position: relative;
  }

  &__swiper-wrapper {
    padding: 14.4rem 3rem 4rem 3rem;

    @include respond(phone-land) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__slider-arrows {
    position: absolute;
    top: 5.6rem;
    right: 3.6rem;
    width: 8.7rem;
    height: 2.2rem;
    display: flex;
    justify-content: space-between;
  }

  &__button-next,
  &__button-prev {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;

    &::after {
      content: '';
    }
  }
}