.top-products {
  max-width: 88.140556369%;
  position: relative;
  overflow: hidden;
  margin: 9rem auto 0;
  background-color: $color-white;

  &__header {
    margin: 3.2rem 0 0 3rem;
  }

  &__link {
    margin: 1.2rem 0 3.9rem 0;

    a {
      text-decoration: none;
      font-size: $font-size-md;
      color: $primary-color;

      @include respond(phone-port) {
        font-size: 12px;
      }

      @include respond(phone-land) {
        font-size: 12px;
      }
    }
  }

  &__swiper {
    background-color: $color-white;
    padding: 2rem 3rem 4rem 3rem;
  }

  &__slide {
    width: auto;
  }

  &__slider-arrows {
    position: absolute;
    top: 5.6rem;
    right: 3.6rem;
    width: 87px;
    height: 2.2rem;
    display: flex;
    justify-content: space-between;
  }

  &__button-next,
  &__button-prev {
    width: 18px;
    height: 18px;
    cursor: pointer;

    &::after {
      content: '';
    }
  }
}