*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a:any-link {
  text-decoration: none; // no underline
}

ul {
  list-style-type: none;
}

html {
  // this defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  box-sizing: border-box;

  @include respond(tab-land) {
    font-size: 50%; //1rem = 8px, 8/16 = 50%
  }

  @include respond(tab-port) {
    font-size: 43.75%; //1rem = 7px, 7/16 = 43.75%
  }

  @include respond(phone-land) {
    font-size: 37.5%; //1rem = 6px, 6/16 = 37.5%
  }

  @include respond(phone-port) {
    font-size: 31.25%; //1rem = 5px, 5/16 = 31.25%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px, 12/16 = 75%
  }
}

body {
  font-family: "BPG LE Studio 04 Caps";
  font-weight: 400;
  line-height: 1.6;
}