@font-face {
  font-family: "BPG LE Studio 04 Caps";
  src: url(./fonts/bpg-le-studio-04-caps-webfont.ttf);
}

@font-face {
  font-family: "Helvetica Neue LTGEOW 82-55 Rm";
  src: url(./fonts/helvetica-heue-ltgeow-82-55-rm.ttf);
}

@font-face {
  font-family: "Helvetica Neue LTGEOW 82-75 Bd";
  src: url(./fonts/helvetica-neue-ltgeow-82-75-bd.ttf);
}

// @font-face {
//   font-family: myFirstFont;
//   src: url(sansation_light.woff);
// }

// HEADER
.header {
  font-size: $font-size-sm;

  &__menu-text {
    line-height: 0.9375;
    color: $color-black;
  }
}

.heading-primary {
  color: $color-black;
  font-size: $font-size-massive;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0;
}

.heading-secondary {
  color: $color-black;
  font-size: $font-size-huge;
  font-weight: 400;
  line-height: 1.333;
  letter-spacing: 0;

  @include respond(phone-land) {
    font-size: 20px;
    line-height: 1.5;
  }

  @include respond(phone-port) {
    font-size: 18px;
    line-height: 1.8;
  }
}

.heading-tertiary {
  color: $color-black;
  font-size: $font-size-big;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
}

.paragraph {
  font-size: $font-size-md;
  font-family: "Helvetica Neue LTGEOW 82-55 Rm";
  font-weight: 400;
  line-height: 1.5715;
  letter-spacing: 0;

  @include respond(phone-land) {
    font-size: 15px;
  }

  @include respond(phone-port) {
    font-size: 14px;
  }
}