.about-us {
  position: relative;
  max-width: 88.21376281112738%;
  margin: 2.5rem auto 9rem auto;
  display: flow-root;

  background-color: $color-white;

  @include respond(phone-land) {
    margin-top: 6rem;
    max-width: 100%;
  }
}