.cart {
  flex: 0 0 8.345534407%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: $primary-color;

  &> :not(:last-child) {
    margin-right: 1.5rem;
  }

  &__icon {
    width: 1.8rem;
    height: 1.8rem;
  }

  &__items {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    font-family: "Helvetica Neue LTGEOW 82-75 Bd";
    font-size: $font-size-md;
    background-color: $color-white;
    color: $primary-color;
  }
}