// header menu
.header__menu {
  flex: 0 0 12.1522694%;

  display: flex;
  align-items: center;

  &-icon {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1rem;

    svg path {
      fill: #171717;
    }
  }

  &-text {
    float: right;
    white-space: nowrap;
  }
}