// header menu
.header__menu {
  display: flex;
  align-items: center;

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 1rem;
    width: 22px;
    height: 18px;
    cursor: pointer;
  }

  &-burger {
    width: 18px;
    height: 2px;
    background: $color-very-dark-grey;
    border-radius: 3px;
    transition: all .5s ease-in-out;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 18px;
      height: inherit;
      background: $color-black;
      border-radius: 3px;
      transition: all .5s ease-in-out;
    }

    &::before {
      transform: translateY(-7px);
    }

    &::after {
      transform: translateY(7px);
    }
  }

  &-btn.open &-burger {
    transform: translateX(-10px);
    background: transparent;
  }

  &-btn.open &-burger::before {
    transform: rotate(45deg) translate(5px, -5px);
  }

  &-btn.open &-burger::after {
    transform: rotate(-45deg) translate(5px, 5px);
  }

  &-text {
    white-space: nowrap;
    margin-top: .3rem;
  }
}

// body overlay on button click
.overlay::before {
  content: '';
  position: fixed;
  z-index: 98;
  width: 100%;
  height: 100%;
  background-color: $color-black;
  opacity: .3;
}