.main__swiper {
  flex: 0 0 65.8125915081%;
  margin-right: 8rem;
  border-radius: 1.2rem;
  overflow: hidden;

  @include respond(tab-port) {
    flex: 0 0 92%;
    margin: 0 auto;
    height: 39.8rem;
  }

  &--slide {
    text-align: center;
    width: 100%;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// change main swiper default styling
// swiper arrows
.swiper-button-next,
.swiper-button-prev {
  --swiper-theme-color: black;
  --swiper-navigation-size: 1.2rem;
}

.main__swiper--button-next,
.main__swiper--button-prev {
  @include respond(tab-port) {
    display: none;
  }
}

.main__swiper--button-prev,
.main__swiper--button-next {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  background-color: $color-white;
}

.main__swiper--button-prev {
  margin-left: 5rem;
}

.main__swiper--button-next {
  margin-right: 5rem;
}

// swiper buttons

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  border-radius: 3px;
  background-color: #fec0b0;

  &-active {
    background-color: $primary-color;
  }
}

@media screen and (min-width: 56.25em) {

  .swiper-pagination {
    display: none;
  }
}